.common-header .moblie_head .rg {
    float: right;
}

.common-header .clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px
}

.common-header .head {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /*min-width: 1000px;*/
    z-index: 9999;
    background: rgba(255,255,255,0.92);
    /*background: #F6F8FA;*/
    height: 82px;
    transition: all .3s
}

.common-header .head .header-logo {
    /*float: left;*/
}

.header-logo a {
    line-height: 80px;
}



.common-header .logo-img {
    padding-left: 20px;
    margin: auto;
    width: 143px;
    height: 42px;
    line-height: 82px;
    display:table-cell;
    vertical-align: middle;
    background: url("../../assets/images/index/klientboost-logo-blue.png") right no-repeat;
    background-size: 143px 42px;
}

.common-header .head .nav {
    display: block;
    /*width: 80;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.common-header .head .nav .nav_pc {
    float: right;
    padding-right: 30px;
}

.common-header .head .nav ul li {
    float: left;
    height: 82px;
    line-height: 82px;
    margin-left: 28px;
    transition: all .3s
}


.common-header .head .nav ul .a1 {
    text-align: center;
    font-size: 15px;
    color: #667482;
    font-weight: 600;
    transition: all .3s
}

.common-header .head .nav ul .a1:hover {
    color: #6adaf7;;
    transition: all .3s
}

.common-header .head .nav ul .head-button {
    /*border-color: #ff5056;*/
    color: #ff5056;
    border: 3px solid #ff5056;
    border-radius: 5px;
    padding: 15px 30px;
}

.common-header .head .nav ul .head-button:hover {
    background: #ff5056;
    color: #fff !important;
    border-color: #ff5056;
}


.common-header .head .nav ul li .div1 {
    display: none;
    background: #fff;
    width: 100%;
    left: 0px;
    position: absolute;
    top: 101px;
    z-index: 100
}

.common-header .head .nav ul li .div1 .p1 {
    width: 57.4%;
    float: right;
    height: 65px;
    line-height: 65px
}

.common-header .head .nav ul li .div1 .p1 a {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    background: #eff0f2;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    margin-right: 5%;
    transition: all .5s
}


.common-header .a_txt {
    display: none
}

.common-header .head .nav ul li .div1 .p1 a {
    font-size: 12px
}


.common-header .head .nav ul li .div1 .p1 {
    width: 58%
}


.common-header .moblie_head {
    height: 82px;
    background: rgba(255,255,255,0.92);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    /*border-bottom: 1px solid #ddd*/
}

.moblie_head .rg {
    padding-right: 2%;
    padding-top: 14px
}

.moblie_head .rg a img {
    padding-top: 12px;
    height: 30px;
}

.common-header .a_txt {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: 10000
}

.common-header .a_txt .div1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0b0d19;
    filter: alpha(opacity=0);
    opacity: 0;
    left: 0px;
    top: 0px;
    z-index: 1
}

.common-header .a_txt .div3 {
    position: absolute;
    width: 280px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
    height: 100%;
    z-index: 100;
    right: -80%
}

.common-header .a_txt .div3 ul {
    text-align: left;
}

.common-header .a_txt .div3 ul li {
}

.common-header .a_txt .div3 ul li a {
    height: 16px;
    line-height: 16px;
    display: block;
    color: #667482;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    padding: 12px 35px;
}

.common-header .a_txt .div3 ul li:first-child a {
    margin-bottom: 20px;
}

.common-header .a_txt .div3 .moblie_head-button {
    /*padding: 0 !important;*/
    padding: 12px 0px!important;
    max-width: 175px!important;
    border: 3px solid #ff5056 !important;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 15px;
    /*line-height: 47px !important;*/
    color: #ff5056 !important;
}


.moblie_head .mobile-nav-button{
    color: #ff5056;
    border: 3px solid #ff5056;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 22px;
}

.common-header .a_txt .div3 ul li:first-child a:focus {
    border-color: white;
    background: white;
}

.common-header .a_txt .div3 ul li:nth-child(1) img {
    float: right;
    width: 30px;
    height: auto;
}

.HeaderMenuItemSelect {
    color: #6adaf7;
    border-color: #6adaf7 !important;
    background: rgba(106, 218, 247, .05);
}

/*}*/
