/* 媒体查询文件 */
@media screen and (max-width: 768px) {
    /*.head {*/
    /*    display: none;*/
    /*}*/
    /*.moblie_head{*/
    /*    display: block;*/
    /*}*/
    .text-center {
        text-align: center !important;
    }

    .nav ul .a1 {
        font-size: 1rem !important;
    }

    .head {
        display: none;
    }

    .moblie_head {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .text-left {
        text-align: left !important;
    }

    .head {
        display: none;
    }

    .moblie_head {
        display: block;
    }

    .nav ul .a1 {
        font-size: 1rem !important;
    }
}


@media screen and (min-width: 900px) and (max-width: 992px) {
    /*.head {*/
    /*    display: block;*/
    /*}*/
    /*.moblie_head{*/
    /*    display: none;*/
    /*}*/
    .text-left {
        text-align: left !important;
    }

    .nav ul .a1 {
        font-size: 1rem !important;
    }

    .head {
        display: block;
    }

    .moblie_head {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*.head {*/
    /*    display: block;*/
    /*}*/
    /*.moblie_head{*/
    /*    display: none;*/
    /*}*/
    .text-left {
        text-align: left !important;
    }

    .head {
        display: block;
    }

    .moblie_head {
        display: none;
    }

    .nav ul .a1 {
        font-size: 1rem !important;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    /*.head {*/
    /*    display: block;*/
    /*}*/
    /*.moblie_head{*/
    /*    display: none;*/
    /*}*/
    .text-left {
        text-align: left !important;
    }

    .head {
        display: block;
    }

    .moblie_head {
        display: none;
    }

    .nav ul .a1 {
        font-size: 1.15rem !important;
    }
}

@media screen and (min-width: 1920px) {
    /*.head {*/
    /*    display: block;*/
    /*}*/
    /*.moblie_head{*/
    /*    display: none;*/
    /*}*/
    .text-left {
        text-align: left !important;
    }

    .head {
        display: block;
    }

    .moblie_head {
        display: none;
    }
    .nav ul .a1 {
        font-size: 1rem !important;
    }
}
