* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: #30383f;
  font-family: Lato, Helvetica Neue, Helvetica;
  min-width: 300px;
  min-height: 100%;
  background: white;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  outline: none
}

.fixed {
  position: fixed;
}

.tc {
  text-align: center;
}

.block {
  display: block !important;
}

.hr {
  margin: 40px auto 0;
  padding-bottom: 40px;
  border-top: 1px solid #ced5dd;
}

.hr-strong {
  border-width: 2px;
}

.black-border {
  border-color: black;
}

.hr-line2 {
  max-width: 48px;
  margin: 20px auto 45px;
}

.MB-80{
    margin-top: 80px;
}

.MB-60{
    margin-top: 60px;
}

.MB-40{
    margin-top: 40px;
}

.MB-80-I{
    margin-top: 80px!important;
}

.MB-40-I{
    margin-top: 40px!important;
}

.MB-60-I{
    margin-top: 60px!important;
}

.MT-80{
    margin-top: 80px;
}

.MT-40{
    margin-top: 40px;
}

.MT-60{
    margin-top: 60px;
}

.MT-80-I{
    margin-top: 80px!important;
}

.MT-40-I{
    margin-top: 40px!important;
}

.MT-60-I{
    margin-top: 60px!important;
}


/* 按钮公共样式 */
.btn-BWCR{
  display: inline-block;
  background: white;
  color: #ff5056;
  border-radius: 7px;
  cursor: pointer;
  line-height: 100%;
  border: 3px solid #ff5056;
  outline: 0!important;
}


.btn-BWCR:hover{
  background: #ff5056;
  color: #fff;
  border-color: #ff5056;
}

.btn-BRCW{
  display: inline-block;
  background: #ff5056;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  line-height: 100%;
  border: 2px solid #ff5056;
  outline: 0!important;
}


.btn-BRCW:hover{
  background-color: #FF3C42;
  border-color: #e90008;
}

.btn-BRCW-BB{
  display: inline-block;
  background: #ff5056;
  color: white;
  border-radius: 7px;
  line-height: 100%;
  border-bottom: 2px solid #ff272f;
  outline: 0!important;
}


.btn-BRCW-BB:hover{
  background-color: #ff3c42;
  border-color: #e90008;
  color: #fff;
}

/* 图片上边界边框图片 */
.footer-BU-img{
  margin-top: -800px;
  height: 450px;
  background: url("../../assets/images/index/dee33e03c5984ee93753f84be6095d12.png") top no-repeat;
  background-size: 100% ;
  margin-bottom: -2px;
}



/* 图片下边界边框图片 */
.footer-BB-img{
  margin-top: -240px;
  height: 450px;
  background: url("../../assets/images/index/5b677ccb69601fde7ca3f49758f72f75.png") bottom no-repeat;
  background-size: 100% ;
  margin-bottom: -2px;
}


/* 黑色输入框 */
.field input {
  width: calc(100% - 24px);
  height: 30px;
  vertical-align: middle;
  border: none;
  background: transparent;
  outline: none;
  padding: 20px 12px;
  font-size: 20px;
}


/* 浅蓝黑色背景 */
.BG-BB-LG{
    background: linear-gradient(#0E2036,#1B384F);
}

.BG-W{
    background: white;
}


/*页面大标题*/
.page-title{
    padding: 15px 0px;
    color: white;
    font-size: 34px;
}

.whiteBorder {
    margin: auto;
    width: 80px;
    height: 2px;
    background-color: white;
}


/* 页面内容框 */
.page-content{
    max-width: 1139px;
    background: white;
    margin: 80px auto 0px;
}


.full{
    width: 100%;
}
