* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: #30383f;
    font-family: Lato, Helvetica Neue, Helvetica;
    min-width: 300px;
    min-height: 100%;
    background: white;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    outline: none
}

.fixed {
    position: fixed;
}

.tc {
    text-align: center;
}

.block {
    display: block !important;
}

.hr {
    margin: 40px auto 0;
    padding-bottom: 40px;
    border-top: 1px solid #ced5dd;
}

.hr-strong {
    border-width: 2px;
}

.black-border {
    border-color: black;
}

.hr-line2 {
    max-width: 48px;
    margin: 20px auto 45px;
}
