/* 媒体查询文件 */
@media screen and (max-width: 600px) {
    .footer-BB-img{
        margin-top: -340px!important;
    }

    .footer-BU-img{
        margin-top: -900px!important;
    }

    .moblie_head .rg a img {
        padding-top: 15px !important;
        height: 22px !important;
    }

    .common-header .logo-img {
        padding-left: 0px !important;
        margin: auto;
        width: 40px !important;
        height: 28px !important;
        line-height: 82px !important;
        display: table-cell;
        vertical-align: middle;
        background: url("../../images/index/klientboost-logo-mobile-blue.png") right no-repeat !important;
        background-size: 40px 28px !important;
    }

    .common-header .nav ul .a1 {
        font-size: 12px !important;
    }

    .common-header .head {
        display: none!important;
    }

    .common-header .moblie_head {
        display: block!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer-BB-img{
        margin-top: -340px!important;
    }
    .footer-BU-img{
        margin-top: -900px!important;
    }

    .moblie_head .rg a img {
        padding-top: 15px !important;
        height: 22px !important;
    }

    .common-header .logo-img {
        padding-left: 10px !important;
        width: 95px !important;
        height: 28px !important;
        background: url("../../images/index/klientboost-logo-blue.png") right no-repeat !important;
        background-size: 95px 28px !important;
    }
    .common-header .nav ul .a1 {
        font-size: 12px !important;
    }

    .common-header .head {
        display: none!important;
    }

    .moblie_head {
        display: block!important;
    }
}




@media screen and (min-width: 768px) and (max-width: 900px) {
    .common-header .head {
        display: none!important;
    }

    .footer-BU-img{
        margin-top: -750px!important;
    }
    .common-header .moblie_head {
        display: block!important;
    }

    .common-header .nav ul .a1 {
        font-size: 12px !important;
    }
}


@media screen and (min-width: 900px) and (max-width: 992px) {

    .footer-BU-img{
        margin-top: -780px!important;
    }


    .nav ul .a1 {
        font-size: 12px !important;
    }

    .common-header .head {
        display: block!important;
    }

    .common-header .moblie_head {
        display: none!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .text-left {
        text-align: left !important;
    }

    .common-header .head {
        display: block!important;
    }

    .common-header .moblie_head {
        display: none!important;
    }

    .common-header .nav ul .a1 {
        font-size: 12px !important;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1920px) {

    .text-left {
        text-align: left !important;
    }

    .common-header .head {
        display: block;
    }

    .common-header .moblie_head {
        display: none;
    }
}

@media screen and (min-width: 1920px) {

    .text-left {
        text-align: left !important;
    }

    .common-header .head {
        display: block;
    }

    .common-header .moblie_head {
        display: none;
    }

}
