/* 媒体查询文件 */
@media screen and (max-width: 600px) {
    .common-footer-top-1 .title h3,
    .common-footer-top-2 .title h3,
    .common-footer-top-3 .title h3{
        max-width: 300px!important;
    }

    .common-footer-top-1 .foot-top-img img,
    .common-footer-top-2 .foot-top-img img,
    .common-footer-top-3 .foot-top-img img{
        max-width: 350px!important;
    }

    .common-footer-top-1 .title h3,
    .common-footer-top-2 .title h3,
    .common-footer-top-3 .title h3{
        font-size: 24px!important;
    }

    .page-title{
        font-size: 20px!important;
    }

    .sentence-quote-font-size {
        font-size: 16px !important;
    }

    .sentence-author {
        width: 70px !important;
    }

    .sentence-name {
        font-size: 15px !important;
    }

    .sentence-title,
    .sentence-company {
        font-size: 14px !important;
    }

    .sentence-icon img {
        width: 18px !important;
    }

    .sentence-icon-inner {
        width: 42px !important;
        height: 42px !important;
        margin-top: 5px;
    }

    .index-content .index-rocket {
        width: 60px !important;
        margin-bottom: 20px !important;
    }

    .index-content h1 {
        font-size: 21px !important;
    }

    .index-star {
        background-size: 475px 365px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .common-footer-top-1 .title h3,
    .common-footer-top-2 .title h3,
    .common-footer-top-3 .title h3{
        max-width: 300px!important;
    }

    .common-footer-top-1 .foot-top-img img,
    .common-footer-top-2 .foot-top-img img,
    .common-footer-top-3 .foot-top-img img{
        max-width: 350px!important;
    }

    .common-footer-top-1 .title h3,
    .common-footer-top-2 .title h3,
    .common-footer-top-3 .title h3{
        font-size: 24px!important;
    }

    .page-title{
        font-size: 20px!important;
    }


    .sentence-quote-font-size {
        font-size: 16px !important;
    }

    .sentence-author {
        width: 70px !important;
    }

    .sentence-name {
        font-size: 15px !important;
    }

    .sentence-title,
    .sentence-company {
        font-size: 14px !important;
    }

    .sentence-icon img {
        width: 18px !important;
    }

    .sentence-icon-inner {
        width: 42px !important;
        height: 42px !important;
        margin-top: 10px;
    }

    .index-content .index-rocket {
        width: 60px !important;
        margin-bottom: 20px !important;
    }

    .index-content h1 {
        font-size: 21px !important;
    }

    .index-star {
        background-size: 475px 365px !important;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .page-content{
        max-width: 720px!important;
    }

    .index-content h1 {
        font-size: 42px !important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .page-content{
        max-width: 940px!important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {

}

@media screen and (min-width: 1920px){

}
