@media screen and (max-width: 768px){
  .blogPage .page-content .title a{
    width: 220px!important;
    margin: 0 auto 10px!important;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px){
  .blogPage .page-content .title a{
    width: 220px!important;
    margin: 0 auto 20px!important;
    font-size: 16px!important;
  }
}
@media screen and (min-width: 960px) and (max-width: 992px){
  .blogPage .page-content .title h1 {
    margin: 0px auto 20px!important;
  }
  .blogPage .page-content .title a{
    width: 220px!important;
    margin: 0 auto 10px!important;
    font-size: 16px!important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .blogPage .page-content .title .text-left h1{
    margin: 0 auto 20px!important;
    text-align: left!important;
  }
  .blogPage .page-content .title .text-left p{
    text-align: left!important;
    margin: 0 auto 10px!important;
  }
  .blogPage .page-content .title a{
    width: 250px!important;
    margin: 20px auto!important;
    font-size:18px!important;
    float: left!important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px){
  .blogPage .page-content .title .text-left p{
    text-align: left!important;
    margin: 0!important;
  }
  .blogPage .page-content .title a{
    width: 250px!important;
    margin: 20px auto!important;
    font-size:18px!important;
    padding: 16px 35px!important;
    text-align: center!important;
    float: left;
  }
}
@media screen and (min-width: 1920px){
  .blogPage .page-content .title .text-left p{
    text-align: left!important;
    margin: 0!important;
  }
  .blogPage .page-content .title a{
    width: 250px!important;
    margin: 20px auto!important;
    font-size:18px!important;
    padding: 16px 35px!important;
    text-align: center!important;
    float: left;
  }
}
