/* 媒体查询文件 */
@media screen and (max-width: 768px) {
    .big-title-1{
        padding: 30px 0px!important;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .big-title-1{
        padding: 30px 0px!important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .big-title-1{
        padding: 30px 0px!important;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1920px) {

}

@media screen and (min-width: 1920px){

}
