@media screen and (max-width: 768px) {
  .topHeight {
    height: 77px;
  }
  .bigTitle{
    padding: 30px 20px!important;

  }
  .bigTitle h2{
    height: 25px;
  }
  .sendBtn{
    width: 100%;
  }
  .contactForm{
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .topHeight {
    height: 77px;
    font-size: 18px;
  }
  .bigTitle{
    padding: 40px 20px!important;
  }
  .bigTitle h2{
    height: 25px;
  }
  .sendBtn{
    width: 240px;
  }
  .contactForm{
    width: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 992px) {
  .topHeight {
    height: 77px;
    font-size: 18px;
  }
  .bigTitle{
    padding: 40px 20px!important;
  }
  .bigTitle h2{
    height: 25px;
  }
  .sendBtn{
    width: 240px;
  }
  .contactForm{
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .topHeight {
    height: 82px;
    font-size: 22px;
  }
  .bigTitle{
    padding: 40px 20px!important;
  }
  .bigTitle h2{
    height: 30px;
    font-size: 24px!important;
  }
  .sendBtn{
    width: 240px;
  }
  .contactForm{
    max-width: 920px!important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .topHeight {
    height: 87px;
    font-size: 26px;
  }
  .bigTitle{
    padding: 45px 20px!important;
  }
  .bigTitle h2{
    height: 30px;
    font-size: 26px!important;
  }
  .sendBtn{
    width: 240px;
  }
  .contactForm{
    max-width: 1150px!important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .topHeight {
    height: 87px;
    font-size: 26px;
  }
  .bigTitle h2{
    height: 30px;
    font-size: 26px!important;
  }
  .sendBtn{
    width: 240px;
  }
  .contactForm{
    max-width: 1150px!important;
    margin: 0 auto;
  }
}
